{{!-- <li>
        <h5>{{example.title}}</h5>
        <p>Title: {{example.title}}</p>
        <p>Year Released: {{example.year}}</p>
        <p>Rating {{example.rating}}</p>
        <p>Description {{example.description}}</p>
        <button class="add-movie" data-id="{{example.id}}">ADD</button>
</li> --}}

{{#each selected}}
<li>
        <img class="searchPoster" src="https://image.tmdb.org/t/p/w92/{{poster_path}}">
        <div class="embed-responsive embed-responsive-1by1">
        {{!-- <iframe class="embed-responsive-item" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
        </div> 
        <h5>{{title}}</h5>
        <p>Release Date: {{release_date}}</p>
        <p>Description: {{overview}}</p>
        <button class="add-movie" data-id="{{id}}">ADD</button>
</li>
<br>
{{/each}}