<li>
        <h5>{{example.title}}</h5>
        <p>Title: {{example.title}}</p>
        <p>Year Released: {{example.year}}</p>
        <p>Rating {{example.rating}}</p>
        <p>Description {{example.description}}</p>
        <button class="add-movie" data-id="{{example.id}}">ADD</button>
</li>