
{{#each searchResults}}
<li>
        <img class="searchPoster" src="https://image.tmdb.org/t/p/w92/{{poster_path}}">
        <h5>{{title}}</h5>
        <p>Release Date: {{release_date}}</p>
        <p>Description: {{overview}}</p>
        <button class="select-movie" data-id="{{id}}">SELECT</button>
        <button class="add-movie" data-id="{{id}}">ADD</button>
</li>
<br>
{{/each}}