
{{#each searchResults}}
<div class="innerCard2">

        <img class="searchPoster" align="left" src="https://image.tmdb.org/t/p/w92/{{poster_path}}">
        <p>
        <h3>{{title}}</h3>
        <p>Release Date: {{release_date}}</p>
        <p>Description: {{overview}}</p>
        <button action="movie" class="select-movie" data-id="{{id}}">SELECT</button>
        <button class="add-movie" data-id="{{id}}">ADD</button>
</p></div>
<br>
{{/each}}