<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{example.title}}</h5>
          <p>Title: {{example.title}}</p>
          <p>Year Released: {{example.year}}</p>
          <p>Rating {{example.rating}}</p>
          <p>Description {{example.description}}</p>
            <a href="index.handlebars">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
