<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">My Movie List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#unless authenticated}}
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signup'">Sign Up</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signin'">Sign In</button>
      </li>
      {{else}}
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/list'">My List</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signout'">Sign Out {{email}}</button>
      </li>
      {{/unless}}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" name="search" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<div class="container-fluid card">
  <div class= "row">
    <div class="col-sm-9 scroll card bg-warning">
      <div class="card-body text-center">
        {{#if searchResults}}
          {{> search}}
        {{else}}
          {{#if listResults}}
            {{> list}}
          {{else}}
            {{> default}}
          {{/if}}
        {{/if}}
      </div>
    </div>
{{#if searchResults}}
<div class="col-sm-3">
  <div class="card bg-secondary">
    <div class="card news scroll2 bg-danger">
      <div class="card-body text-center">  
        <div class="innerCard">
          <h4>Movie News</h4>
        <ul>
          {{#each newsResults}}
            {{> news}}
          {{/each}}
        </ul> 
        </div>
      </div>
    </div> 
  </div>
</div>
{{else}}
  {{#unless listResults}}
  <div class="col-sm-3">
    <div class="card bg-secondary">
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- The slideshow -->
          <div class="carousel-inner">
            {{#each posters}}
              {{#if @first}}
                <div class="carousel-item active">
              {{else}}
                <div class="carousel-item">
              {{/if}}
              <img class="carouselPoster" src="{{this}}">
            </div>
            {{/each}}
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

          </div>
        </div>
    </div>
  </div>
  {{/unless}}
{{/if}}
</div>

<div>
  <br>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text"></p>
    </div>
  </div> 
</div>